.root {
  display: flex;
  gap: 10px;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45x;
    padding: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fe5f1e;

    @media (any-hover: hover) {
      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
