.root {
  position: relative;
}
.root__wrapper {
  display: flex;
  flex: 1 1 auto;
  margin-left: 50px;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 45px;
  padding-right: 40px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 14px;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
